<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>设置</title>

  <!-- Favicons -->
  <link href="/public/img/favicon.png" rel="icon">
  <link href="/public/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
  <link href="/public/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!--external css-->
  <link href="/public/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="/public/css/style.css" rel="stylesheet">
  <link href="/public/css/style-responsive.css" rel="stylesheet">
  <script src="/public/lib/vue.js"></script>
</head>

<body>

  <section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    <% include ../bar.ejs %>
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <% include ../sidebar.ejs %>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper site-min-height">
        <div class="row mt">
          <div class="col-lg-12">
            <div class="row content-panel">
              <div class="col-md-4 profile-text mt mb centered">
                <div class="right-divider hidden-sm hidden-xs">
                  <h4><%=user.coursesNum%></h4>
                  <h6>学习课程</h6>
                  <h4>$ <%=user.balance%></h4>
                  <h6>账号余额</h6>
                </div>
              </div>
              <!-- /col-md-4 -->
              <div class="col-md-4 profile-text">
                <h3><%=user.user%></h3>
                <h6>
                  <%if(user.type == 1){%>
                    Student
                  <%}else{%>
                    Teacher
                  <%}%>
                </h6>
                <p><%=user.description%></p>
                <br>
                <p><button class="btn btn-theme"><i class="fa fa-envelope"></i>发送信息</button></p>
              </div>
              <!-- /col-md-4 -->
              <div class="col-md-4 centered">
                <div class="profile-pic">
                  <p><img src="/public/upload/<%= user.src %>" class="img-circle"></p>
                  <p>
                    <button class="btn btn-theme"><i class="fa fa-check"></i> Follow</button>
                    <button class="btn btn-theme02">Add</button>
                  </p>
                </div>
              </div>
              <!-- /col-md-4 -->
            </div>
            <!-- /row -->
          </div>
          <!-- /col-lg-12 -->
          <div class="col-lg-12 mt">
            <div class="row content-panel">
              <div class="panel-heading">
                <ul class="nav nav-tabs nav-justified">
                  <li class="active">
                    <a data-toggle="tab" href="#overview">新建课程</a>
                  </li>
                  <li id="nagtive">
                    <a data-toggle="tab" href="#contact" class="contact-map" v-on:click="course_search">课程管理</a>
                  </li>
                  <li>
                    <a data-toggle="tab" href="#edit">个人设置</a>
                  </li>
                </ul>
              </div>
              <!-- /panel-heading -->
              <div class="panel-body">
                <div class="tab-content">
                  <div id="overview" class="tab-pane active">
                    <div class="row">
                      <div id="btn1check" class="col-md-6">
                        <form role="form" class="form-horizontal" action="/teach/addCourses" method="post" enctype="multipart/form-data">
                          <div class="form-group">
                            <label class="col-lg-2 control-label"> 封面</label>
                            <div class="col-lg-6">
                              <input type="file" id="coursefile" accept="image/*" name="heardfile" class="file-pos">
                            </div>
							
                          </div>
						  <div class="form-group">
						  <label class="col-lg-2 control-label"> 预览</label>
                            <div class="col-lg-2 control-label">
							<img id='courseimg' height="200" width="200" src=''/>
							</div>
                          </div>
                          <div class="form-group">
                            <label class="col-lg-2 control-label">课程名</label>
                            <div class="col-lg-6">
                              <input type="text" placeholder=" " name="name" id="coursename" class="form-control">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-lg-2 control-label">课程描述</label>
                            <div class="col-lg-10">
                              <textarea rows="10" cols="20" class="form-control" id="description" name="description"></textarea>
                            </div>
                          </div>

                          <div class="pull-right">
                            <button class="btn btn-sm btn-theme03" type="submit" id="putcourse" disabled="disabled">提交</button>
                          </div>
                        </form>
                          <!-- /recent-activity -->
                      </div>
                      <!-- /detailed -->
                    </div>
                  </div>
                    <!-- /OVERVIEW -->

                  <!-- /tab-pane -->
                  <div id="contact" class="tab-pane">
                    <div class="panel-body">
                      <div class="task-content" id='courses_list'>
                        <ul class="task-list" v-for="course in courses">
                          <li>
                            <div class="task-title">
                              <span class="task-title-sp">{{course.name}}</span>
                              <span class="badge bg-theme">{{course.description}}</span>
                              <div class="pull-right hidden-phone">
                                <!--<button class="btn btn-success btn-xs"><i class=" fa fa-check"></i></button>-->
                                <button class="btn btn-primary btn-xs" v-on:click="getUrl(course.URL)"><i class="fa fa-pencil"></i></button>
                                <button class="btn btn-danger btn-xs" v-on:click="deleteCourse(course.ID,course.src)"><i class="fa fa-trash-o "></i></button>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- /tab-pane -->
                  <div id="edit" class="tab-pane">
                    <div class="row">
                      <div class="col-lg-8 col-lg-offset-2 detailed" id="btn2check">
                        <h4 class="mb">账号信息</h4>
                        <form role="form" class="form-horizontal" action="./editInfo" method="post" enctype="multipart/form-data">
                          <div class="form-group">
                            <label class="col-lg-2 control-label">头像</label>
                            <div class="col-lg-6">
                              <input type="file" id="InputFile" accept="image/*" class="file-pos" name="heardfile">
                            </div>
							
                          </div>
						  <div class="form-group">
						  <label class="col-lg-2 control-label">预览</label>
                            <div class="col-lg-2 control-label">
							<img id='heardimg' height="200" width="200" src=''/>
							</div>
                          </div>
                          <div class="form-group">
                            <label class="col-lg-2 control-label">用户名</label>
                            <div class="col-lg-6">
                              <input type="text" placeholder=" " id="username" class="form-control" name="username">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-lg-2 control-label">城市</label>
                            <div class="col-lg-6">
                              <input type="text" placeholder=" " id="city" class="form-control" name="city">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-lg-2 control-label">个人描述</label>
                            <div class="col-lg-10">
                              <textarea rows="10" cols="30" class="form-control" id="info" name="description"></textarea>
                            </div>
                          </div>
                          <div class="pull-center">
                            <button class="btn btn-sm btn-theme03" type="submit" id="putinfo" disabled="disabled">提交</button>
                          </div>
                        </form>
                      </div>

                      <!-- /col-lg-8 -->
                    </div>
                    <!-- /row -->
                  </div>
                  <!-- /tab-pane -->
                </div>
                <!-- /tab-content -->
              </div>
              <!-- /panel-body -->
            </div>
            <!-- /col-lg-12 -->
          </div>
          <!-- /row -->
        </div>
        <!-- /container -->
      </section>
      <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->
    <!--footer start-->
    <% include ../foot.ejs %>
    <!--footer end-->
  </section>
  <script src="/public/lib/jquery/jquery.min.js"></script>
  <script type="text/javascript">
  $('#InputFile').change(function(){
		  var $file = $(this);
		  var fileObj = $file[0];
		  var windowURL = window.URL || window.webkitURL;
		  var dataURL;
		  var $img = $('#heardimg');
		  if (fileObj && fileObj.files && fileObj.files[0]) {
			  dataURL = windowURL.createObjectURL(fileObj.files[0]);
			  $img.attr('src', dataURL);
		  } else {
			  dataURL = $file.val();
			  var imgObj = document.getElementById("preview");
			  imgObj.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
			  imgObj.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = dataURL;
		  }
	});
  $('#coursefile').change(function(){
		  var $file = $(this);
		  var fileObj = $file[0];
		  var windowURL = window.URL || window.webkitURL;
		  var dataURL;
		  var $img = $('#courseimg');
		  if (fileObj && fileObj.files && fileObj.files[0]) {
			  dataURL = windowURL.createObjectURL(fileObj.files[0]);
			  $img.attr('src', dataURL);
		  } else {
			  dataURL = $file.val();
			  var imgObj = document.getElementById("preview");
			  imgObj.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
			  imgObj.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = dataURL;
		  }
	});
  var nowpage = 0;
  var nagtive = new Vue({
    el: '#nagtive',
    data: {
      url:"#",
      courses: []
    },
    methods:{
      course_search:function(){
        nowpage = 0;
        getCourse();
      }
    }
  });
  var courses_list = new Vue({
    el: '#courses_list',
    data: {
      url:"#",
      courses: []
    },
    methods: {
      getUrl:function(str){
        alert("推流URL为：<%=urlHix%>"+str);
      },
      deleteCourse:function(course_id,course_src){
        if(confirm("确实要删除吗？")){
          delCourse(course_id,course_src);
        }else {
        }
      }
    }
  });
  function getCourse(){
    var obj ={
        url:"/query/courses_teach",
        type: "post",
        data:{page_num:nowpage,count_num:12,teach_id:<%=user.ID%>},
        dataType:"json",
        async:true,
        success:function(results){
          console.log(results);
          courses_list.courses = results["courses"];
        }
    };
    $.ajax(obj);
  }
  function delCourse(course_id,course_src){
    var obj ={
        url:"/query/courses_del",
        type: "post",
        data:{course_id:course_id,teach_id:<%=user.ID%>,course_src},
        dataType:"json",
        async:true,
        success:function(results){
          console.log(results);
          if(results["code"] == 100){
            alert("已经删除！");
            window.location.reload();
            return true;
          }else{
            alert("服务器异常！");
            return false;
          }
        }
    };
    $.ajax(obj);
  };
  $("#btn1check").mouseover(function(){
    var file = $("#coursefile").val();
    var name = $("#coursename").val();
    var desc = $("#description").val();
    if(file!='' && name!='' && desc != ''){
      $("#putcourse").removeAttr("disabled");
    }else{
      $("#putcourse").attr("disabled","disabled");
    }
  });
  $("#btn2check").mouseover(function(){
    var name = $("#username").val();
    var desc = $("#info").val();
    if(name!='' && desc != ''){
      $("#putinfo").removeAttr("disabled");
    }else{
      $("#putinfo").attr("disabled","disabled");
    }
  });
  </script>
  <!-- js placed at the end of the document so the pages load faster -->

  <script src="/public/lib/bootstrap/js/bootstrap.min.js"></script>
  <script class="include" type="text/javascript" src="/public/lib/jquery.dcjqaccordion.2.7.js"></script>
  <script src="/public/lib/jquery.scrollTo.min.js"></script>
  <script src="/public/lib/jquery.nicescroll.js" type="text/javascript"></script>
  <!--common script for all pages-->
  <script src="/public/lib/common-scripts.js"></script>
  <!--script for this page-->
  <!-- MAP SCRIPT - ALL CONFIGURATION IS PLACED HERE - VIEW OUR DOCUMENTATION FOR FURTHER INFORMATION -->
</body>

</html>
